.body {
    background-color: black;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.fieldset {
    width: 400px;
    height: 200px;
    border: 2px solid white;
}